body{
    background-image: url(img/fondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
header{
    display: block;
    margin: 20px;
}
nav{
    display: flex;
    flex-direction: row;
    margin: 3px;
}
.contenedor-iconos{
    height: 50px;
    width: 70px;
}
i{
    margin: 10px;
    font-size: 40px;
    color: rgb(255, 255, 255);
    transition-duration: .5s;
    animation-name: desplazamiento-de-inicio;
    animation-duration: 2s;
    position: relative;
}
i:hover{
    font-size: 43px;
    color: rgb(0, 0, 0);
}
.contenedor-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    height: max-content;
    width: 800px;
    background: transparent;
    border-radius: 30px;
}
.titulo{
    text-align: center;
    font-size: 50px;
    font-family: 'Bangers', cursive;
    font-weight: 200;
    text-shadow: 3px 1px 1px white;
    animation-name: desplazamiento-de-inicio;
    animation-duration: 3s;
    position: relative;
}
.contenedor-input{
    display: flex;
}
.desglosado{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 40px;
    width: 200px;
    animation-name: desplazamiento-de-inicio;
    animation-duration: 3s;
    position: relative;
}
.contenedor-imagen{
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 600px;
    border-radius: 10px;
    border: none;
}
.titulo-imagen{
    text-align: center;
    font-size: 35px;
    font-family: 'Bangers', cursive;
    font-weight: 200;
    text-shadow: 2px 2px 2px white;
}
.milanesa{
    height: 450px;
    width: 600px;
    object-fit: cover;
    border-radius: 10px;
    border-style: none;
}

@keyframes desplazamiento-de-inicio{
    0%{
        transform: translateX(1300px);
    }
    100%{
        transform: translateX(0);
    }
}

@media screen and (max-width: 700px){
    body{
        background-image: url(img/fondo.png);
        background-size: auto;
        background-repeat: no-repeat;
        background-attachment: fixed;
        overflow: hidden;
    }
    nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 3px;
    }
    .contenedor-iconos{
        display: flex;
        justify-content: center;
        height: 50px;
        width: 70px;
    }
    i{
        margin: 10px;
        font-size: 40px;
        color: rgb(0, 0, 0);
        transition-duration: .5s;
        animation-name: desplazamiento-de-inicio;
        animation-duration: 2s;
        position: relative;
    }
    .contenedor-principal{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
        padding: 0px;
        height: max-content;
        width: 375px;
        background: transparent;
        border-radius: 30px;
    }
    .contenedor-titulo{
        padding: 0;
        width: 375px;
    }
    .titulo{
        font-size: 35px;
        font-family: 'Bangers', cursive;
        font-weight: 200;
        text-shadow: 3px 1px 1px white;
        animation-name: desplazamiento-de-inicio;
        animation-duration: 3s;
        position: relative;
    }
    .desglosado{
        margin: auto;
        margin-top: 20px;
        height: 40px;
        width: 200px;
        background-color: aliceblue;
        color: black;
        animation-name: desplazamiento-de-inicio;
        animation-duration: 3s;
        position: relative;
    }
    .contenedor-imagen{
        display: flex;
        flex-direction: column;
        height: 270px;
        width: 300px;
        border-radius: 10px;
        border: none;
    }
    .titulo-imagen{
        text-align: center;
        font-size: 25px;
        font-family: 'Bangers', cursive;
        font-weight: 200;
        text-shadow: 2px 2px 1px white;
    }
    .milanesa{
        height: 270px;
        width: 300px;
        object-fit: cover;
        border-radius: 10px;
        border-style: none;
    }
}
